[Unit]
Description=Wormlogic WireGuard forwarding rules
After=network-online.target docker.service wg-quick@wg0.service
Wants=network-online.target
Requires=wg-quick@wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'sysctl -w net.ipv4.ip_forward=1'
ExecStart=/bin/sh -c 'iptables -C FORWARD -i wg0 -o wg0 -j ACCEPT || iptables -I FORWARD 1 -i wg0 -o wg0 -j ACCEPT'
ExecStart=/bin/sh -c 'iptables -C FORWARD -i wg0 -o wg0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT || iptables -I FORWARD 2 -i wg0 -o wg0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT'
ExecStart=/bin/sh -c 'iptables -C DOCKER-USER -i wg0 -o wg0 -j ACCEPT || iptables -I DOCKER-USER 1 -i wg0 -o wg0 -j ACCEPT'
ExecStart=/bin/sh -c 'iptables -C DOCKER-USER -i wg0 -o wg0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT || iptables -I DOCKER-USER 2 -i wg0 -o wg0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT'

[Install]
WantedBy=multi-user.target
