{
	email admin@wormlogic.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

whoami.wormlogic.com {
	reverse_proxy whoami:8080
}

ops.wormlogic.com {
	reverse_proxy n8n:5678
}

monitor.wormlogic.com {
	reverse_proxy beszel:8090
}
